{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'InOut.css' %}">
{% endblock %}

{% block content %}

<div id="Title">
    <p>Masukan data pemasukan / pengeluaran kamu disini</p>
</div>
{% if saldo.saldo < 0 %}
    <div id="Warning">
        <h2>PERINGATAN!</h2>
        <p>Pengeluaran kamu telah melebihi 
            uang yang kamu miliki! Segera
            atur pengeluaranmu!
        </p>
    </div>
{% endif %}
<form class="dataForm" action="{% url 'in_out:pengeluaran' %}" method="POST">
    <div id="keluarMasuk">
        <a id="movePage" href="{% url 'in_out:pemasukan' %}">Pemasukan</a>
        <p id="current">Pengeluaran</p>
    </div>
    {% if saldo.saldo > -9999999999 %}
        <div id="formInput">
            <table>
                {% csrf_token %}
                <div id="inputFormData">
                    <label>Catatan: </label>
                    {{form.keterangan}}
                    <label>Nominal: </label>
                    {{form.nominal}}
                </div>
            </table>
        </div>
        <div id="buttonSumbit">
            <input class="submitButton" type="submit" value="Simpan">
        </div>
    {% else %}
        <div id="saldoLewat">
            <p>Saldomu melewati batas yang dapat ditampung DompetQ :(</p>
        </div>
    {% endif %}
</form>

<div id="tabelRiwayat">
    <p id="Riwayat">Riwayat</p>
    <div id="tabelTransaksi">
        <div class="keteranganBar">
            <p class="tanggal">Tanggal</p>
            <p class="catatan">Catatan</p>
            <p class="jenis">Jenis</p>
            <p class="nominal">Nominal</p>
            <p class="saldo">Saldo</p>
        </div>
        <form class="getData" action="{url 'in_out:pemasukan' %}" method ="GET">
            {% for d in dataDompet %}
                <div class="transaksi">
                    {% if d.status == "Pemasukan" %}
                    <div class="pemasukanData">
                        <p class="tanggal">{{d.tanggal}}</p>
                        <p class="catatan">{{d.keterangan}}</p>
                        <p class="jenis">{{d.status}}</p>
                        <p class="nominal">Rp{{d.nominal}}</p>
                        <p class="saldo">Rp{{d.saldo}}</p>
                    </div>
                    {% else %}
                    <div class="pengeluaranData">
                        <p class="tanggal">{{d.tanggal}}</p>
                        <p class="catatan">{{d.keterangan}}</p>
                        <p class="jenis">{{d.status}}</p>
                        <p class="nominal">Rp{{d.nominal}}</p>
                        <p class="saldo">Rp{{d.saldo}}</p>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </form>
    </div>
</div>

{% endblock %}