{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %} <link rel="stylesheet" href="{% static 'wishlist.css' %}"> {% endblock %}

{% block content %}
    <div class="title text-center">
        <p> Tambahkan Wishlist </p>
    </div>

    <form action="{% url 'wishlist:add_wishlist' %}" method = 'post' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="form-container">
            <div class="form-nama">
                <div class="nama">
                    <p> Nama : </p>
                </div>
                {{ form.nama }}
            </div>
    
            <div class="form-harga">
                <div class="harga">
                    <p> Harga : </p>
                </div>
                {{ form.harga }}
            </div>
    
            <div class="form-gambar">
                <div class="gambar">
                    <p> Gambar : </p>
                </div>
                {{ form.picture }}
            </div>
        </div>

        <div class="tombol-con">
            <input type="submit" value = "Tambah Wish">
    
            <div class="back-button">
                <a href="{% url 'wishlist:wishlist_page' %}">
                    Kembali
                </a>
            </div>
        </div>
        
    </form>
    

{% endblock %}