{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %} <link rel="stylesheet" href="{% static 'wishlist.css' %}"> {% endblock %}


{% block content %}

    <div class="title text-center">
        <p> Apakah anda yakin tidak mengincar <br> barang ini lagi ? </p>
    </div>

    <div class="wish-delete">
        <div class="img-container">
            <img src="{{ wish.picture.url }}" alt="" class="thumb">
        </div>

        <div class="desc">
            <div class="name-con">
                {{ wish.nama }}
            </div>

            <div class="harga-con">
                Rp{{ wish.harga }}
            </div>
        </div>

        
    </div>
    
    <div class="tombol-con">
        <div class="confirm-delete">
            <a href="{% url 'wishlist:wishlist_page' %}">
                Tidak, Saya Tidak Yakin
            </a>
        </div>
        
        <form action="{% url 'wishlist:delete' id=wish.id %}" method = 'post'>
            {% csrf_token %}
            <input type="submit" value = "Iya, Saya Yakin">
        </form>
    </div>


{% endblock %}