
{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}

        <!--FORM -->
        <form action ="{% url 'jadwalIni:SchedulePost' %}" style="margin-right: auto;margin-left: auto;" method ="post" class="form-horizontal " method="post">
          {% csrf_token %}
          <div style="margin:auto;"class="form-row justify-content-center text">
            <div style="color: black;" class="form-group form-horizontal justify-content-center col-sm-4">
              {{ form }}
            </div>
          </div>
          <div style="margin-right: auto;margin-left: auto;"class="form-row form-horizontal justify-content-center ">
                <button  class="btn text justify-content-center" type="submit" style="background-color:#ECD897 ; color:black;">Tambahkan Jadwal</button>
          </div>
        </form>
        <br>
        <br>
        <br>
        <br>
        <div class="text-center">
            <form style="margin-right: auto;margin-left: auto;" action="{% url 'jadwalIni:SchedulePost' %}" method="get"  class="col-md-4 text text-center" >
                <div  class="row ">
                    <table class="table">
                        <thead >
                          <th class="text-center">
                            <h3 style="color:white;font-weight: 600;">Jadwal Pembayaran</h3>
                          </th>
                        </thead>
                        <tbody>
                          {% for post in AllJadwal %}
                          <tr>
                            <td>
                              <h2 style="color:black; font-weight: bolder; ">{{post.tanggal}}</h2>
                              <h5>{{post.catatan}} &nbsp {{post.nominal}}</h5>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>   
              </form>
      
        
           
        

          
{% endblock %}











