{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'promolist.css' %}">
{% endblock %}

{% block content %}
<div class="pageisipromo">
    <div class="container-fluid">
    <div class = "title">
        <p class="title-text text-center"><strong>PROMO</strong></p>
    </div>

    <div class="margin-small form-design">
        <form class="css" action="{% url 'promolist:create' %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-10">
                    {% for fields in form %}
                        {{ fields.label_tag }}
                        <br>
                        {{ fields }}
                        <br><br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-1"></div>
                <input type="submit" type="button" class="btn btn-warning btn-style" value="tambahkan promo"></button>
                <div class="col-sm-7"></div>
                <a href="{% url 'promolist:promolist' %}"><button type="button" class="btn btn-warning btn-style">kembali</button></a>
        </form>
    </div>
    </div>
</div>

{% endblock %}