@font-face {
    font-family: "Rajdhani";
    src: url(fonts/Rajdhani-Medium.ttf);
}

.navbar {
    background-color: #9BD0BF;
    position: sticky;
}

.navbar a {
    font-family: 'Rajdhani';
    color: rgb(245, 245, 245, 0.9) !important;
    text-decoration: none;
}

.navbar a:hover {
    font-family: 'Rajdhani';
    font-weight: bold;
    color: #F5F5F5;
}

.navbar .navbar-brand {
    position: fixed;
}

.navbar .collapse {
    justify-content: center;
}

.title {
    padding-top: 100px;
}


@media only screen and (max-width :1200px) {
    .navbar .navbar-brand {
        position: static;
    }
}

footer {
    height: 60px;
    background: #9BD0BF;
<<<<<<< HEAD
=======
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer #socmed {
    margin-left: 30px;
    width: 100px;
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 30px;
    height: 30px;
>>>>>>> aeb29f1aed0e5a10fb5a39589fc99aec3cc0d44a
}