@font-face {
    font-family: "Rajdhani";
    src: url("fonts/Rajdhani-Medium.4a21615266ec.ttf");
}

h1 {
    font-family: "Rajdhani";
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
}

p {
    font-family: "Rajdhani";
    font-size: 36px;
}

#sambutan {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#fitur {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

#fitur h1{
    text-align: center;
}

#fitur p {
    font-size: 24px;
}

#listFitur {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#listFitur #riwayat, #jadwalPengeluaran, #wishlist, #daftarPromo {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    width: 150px;
    height: 300px;
    background: #CA5164;
    border-radius: 30px;
    text-align: center;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#aboutUsInner {
    margin-top: 40px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 40px;
    padding: 32px;
    max-width: 800px;
    background: #ECD897;
    border-radius: 20px;
}

#aboutUsInner p {
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}
