@font-face {
    font-family: "Rajdhani";
    src: url("fonts/Rajdhani-Medium.4a21615266ec.ttf");
}

.navbar {
    background-color: #9BD0BF;
    position: sticky;
}

.navbar a {
    font-family: 'Rajdhani';
    color: rgb(245, 245, 245, 0.9) !important;
    text-decoration: none;
}

.navbar a:hover {
    font-family: 'Rajdhani';
    font-weight: bold;
    color: #F5F5F5;
}

.navbar .navbar-brand {
    position: fixed;
}

.navbar .collapse {
    justify-content: center;
}

.title {
    padding-top: 100px;
}

.wishes {
    padding-top: 50px;
    /* display: flex; */
    /* justify-content: space-around; */
}

@media only screen and (max-width :1200px) {
    .navbar .navbar-brand {
        position: static;
    }
}