{% extends "base.html" %}
{% load static %}

{% block stylesheet %} <link rel="stylesheet" href="{% static 'homePage.css' %}"> {% endblock %}

{% block content %}
    <div id="sambutan">
        <h1>Halo!</h1>
        <p>Selamat datang di DompetQ</p>
    </div>

    <div id="fitur">
        <h1>Fitur-fitur kami</h1>
        <div id="listFitur">
            <div id="riwayat">
                <p>Pemasukan Pengeluaran & Riwayat</p>
            </div>
            <div id="jadwalPengeluaran">
                <p>Jadwal Pengeluaran</p>
            </div>
            <div id="wishlist">
                <p>Wishlist</p>
            </div>
            <div id="daftarPromo">
                <p>Daftar Promo</p>
            </div>
        </div>
    </div>

    <div id="aboutUs">
        <div id="aboutUsInner">
            <h1>About Us</h1>
            <p>DompetQ adalah website yang dibuat dengan tujuan
                untuk membantu kita dalam mengatur keuangan
                sehari-hari
            </p>
        </div>
    </div>
{% endblock %}